<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
                                                <!-- FONTS  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Lora&family=Playfair+Display&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo web</title>
</head>
<body>
    
                              <!-- Nav-Bar -->
<header class="p-3 "style="background-color: #001C30; ">
    <div class="container Nav-BarM" style="background-color: #001C30;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logoImgatNav">
         <img src="./images/logo.png" style="border-radius: 10px;" width="90px" alt="">
        </a>
        <form action="/" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 searchBar" role="search">
          <input type="search" class="form-control" name="movieName" placeholder="" style="border-radius: 20px; margin: 15px; margin-left: 40px;" size="73" aria-label="Search">
            <button style="position: absolute; top: -100px;" type="submit">search</button>
    </form>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 navItems">
          <li><a href="/" style="margin-left: 10px;" class="nav-link px-2 text-secondary navItems" >Home</a></li>
          <li><a href="/top100movies" style="margin-left: 10px;" class="nav-link px-2 text-secondary">Movies</a></li>
          <li><a href="/tvShows" style="margin-left: 10px;" class="nav-link px-2 text-secondary">Tv-Shows</a></li> 
          <li><a href="#Genres" style="margin-left: 10px;" class="nav-link px-2 text-secondary">Genres</a></li>
          <li><a href="/aboutus" style="margin-left: 10px;" class="nav-link px-2 text-secondary">About-us</a></li>
          </ul>
      </div>
    </div>
  </header>
