/* font-family: 'League Spartan', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif; */
body{
    background-color:#001C30 !important;
 }
 
 
 /* NAVBAR CSS */
 .logoImgatNav{
     position: absolute;
     left: 40px;
 }
 .navItems li a{
     position: relative;
     left: 25px;
    color: #EEEEEE!important;
    font-family: 'Lora', serif !important;
 }
 
 /* heroLine css*/
 .heroLine{
     position: absolute;
     top: 250px;
     left: 50px;
 }
 
 .heroLine h1{
     line-height: 80px;
     color:#64CCC5;
     font-size: 90px;
 font-weight: 1000000px;   
     font-family: 'League Spartan', sans-serif;
 }
 .heroLine p{
     color: #F3FFF8;
     font-family: 'Lora', serif;
     font-size: 20px;
 }
 .topMovies h1{
     color: #EEEEEE;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: bolder;
 }
 /* popcornImg */
 .popcon-img{
     z-index: 0;
     left: -100px;
     top: 600px;
     position: absolute;
 }
 
   /* Style for the card container */
   .card-container {
 
     display: flex;
     justify-content: space-between;
 }
 .topMovies{
     z-index: 10;
 }
 
 /* Style for individual cards */
 .card {
     width: 250px; /* Set the desired width for the outer card */
     height: 400px; /* Set the desired height for the outer card */
     margin: 10px;
     padding: 20px;
     background-color: #64CCC5 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     text-align: center;
     
 }
 .card h2{
   font-family: 'League Spartan', sans-serif;
   font-size: large;
   font-weight: bold;
 }
 .myCard{
     padding: 10px 80px 10px 80px;
 }
 /* Style for card images */
 .card img { max-width: 100%;
     max-height: 100%; /* Ensure the image maintains its aspect ratio */
     width: auto;
     height: auto;
     object-fit: cover; 
     
 }
 .card p{
     text-align: left;
     
 }
 
 /* Style for card headers */
 .card h2 {
     margin-top: 10px;
     font-size: 18px;
     text-align: left;
     font-family: 'League Spartan', sans-serif;
 }
 
 /* Style for card buttons */
 .card button {
     margin-top: 10px;
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
     font-size: 16px;
 }
 .card button:hover {
     background-color: #64CCC5;
     color: #001C30;
 
 }
 
 /*--------Top TV Shows -------*/
 .filmImg{
     z-index: 0;
     position: absolute;
     width: 250px;
     right: 5px;
     
 }
 /* ----geners ---- */
 .Genres button{
     z-index: 1;
     margin-top: 10px;
     padding: 10px 20px;
     border-radius: 20px;
     size: 1px;
     background-color: #F9F7F7 ;
     color: black;
     font-weight: bolder;
     border: none;
     cursor: pointer;
     font-size: 18px;
     font-family: 'Lora', serif;
 
  
 }
 .button-row {
     display: flex;
     justify-content: space-around;
     margin: 20px;
 }
 
 /* Style the buttons */
 .styled-button {
     padding: 15px 100px !important; /* Increase the padding for both vertical and horizontal spacing */
     background-color: #007BFF;
     color: black;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
 }
 /* Hover effect */
 .styled-button:hover {
     background-color: #0056b3;
 }
 .Genres h1 {
     color: #EEEEEE !important;
     font-family: 'League Spartan', sans-serif !important;
     font-weight: bolder !important;
 }
 .flyingImg{
     position: absolute;
     width: 450px;
     top: 1350px;
     z-index: -1;
 }